<nav>
  <video autoplay muted loop class="video">
    <source src="video/animated_bgCar.mp4" type="video/mp4">
  </video>
    <div class="site-title">
      <h1>Blog</h1>
      <p>La información es poder.</p>
    </div>
    <ul>
      <li><a href="/">Blog</a></li>
      <li><a href="/crear-entrada">Crear Entrada</a></li>
    </ul>
</nav>