<html lang="es">
<%- include("./partials/head.ejs") %>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/axios.js"></script>
<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <a href="#" class="post">Post</a>
    <a href="#" class="readAll">Read All</a>
    <a href="#" class="read">Read One</a>
    <a href="#" class="update">Update</a>
    <a href="#" class="delete">Delete</a>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>