<html lang="es">
<%- include("./partials/head.ejs") %>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <a href="#" id="post">Post</a>
    <a href="#" id="readAll">Read All</a>
    <a href="#" id="read">Read One</a>
    <a href="#" id="update">Update</a>
    <a href="#" id="delete">Delete</a>
  </div>

  <%- include("./partials/footer.ejs") %>
  <script src="/js/axios.js"></script>
</body>
</html>