<html lang="es">
<%- include("./partials/head.ejs") %>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>El Tiempo en Reus</h2>
    <p id="pTiempo"></p>

    <a href="#" id="tiempo">Obtener el Tiempo actualizado</a>
  </div>

  <%- include("./partials/footer.ejs") %>
  <script src="/js/tiempo.js"></script>
</body>
</html>