@import"https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Big+Shoulders+Stencil+Display:wght@400;500&display=swap";
@import"https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap";

$bgColor: black;
$textColor: white;
$urlColor: rgb(189, 112, 12);
$blogTitleColor: rgb(189, 112, 12);

body{
    width: 90%;
    margin: auto;
    background-color:$bgColor;
    font-family: 'Barlow', sans-serif;

    audio{
        display: none;
    }
    nav{
        display:flex;
        justify-content: space-between;

        .video{
            right: 0;
            min-width: 100%;
            width: 100%;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            margin-bottom: 8px;
        }
        .site-title{
            width: 100%;
            padding: 10px;
            position: fixed;
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
        }
        ul{
            display:flex;
        }
        li{
            list-style-type: none;
            margin-left: 15px;
            font-size: 1.35em;
        }
        h1{
            text-shadow: 0px 0px 3px rgb(189, 112, 12);
            margin-left: 15px;
            font-size: 2.5em;
            font-family: 'Big Shoulders Stencil Display', cursive;
        }
        p{
            color: $textColor;
            margin-top: 0px;
        }
        a{
            color: $urlColor;
            font-weight: 222;
            padding:5px;
            border:1px dashed rgb(189, 112, 12);
        }
        a:hover{
            text-shadow: 0px 0px 3px rgb(255, 255, 255);
        }
    }

    @media only screen and (min-height: 400px) {
        
    }
    
    form{
        width: 90%;
        margin:auto;

        label{
            color: $textColor;
            font-size: 1.20em;
        }
        input[type=text]{
            color:$textColor;
            padding:3px;
            font-size: 1.11em;
            border:1px dashed rgb(189, 112, 12);
            background-color:$bgColor;
            margin-bottom:5px;
        }
        textarea{
            color:$textColor;
            padding:3px;
            font-size: 1.11em;
            border:1px dashed rgb(189, 112, 12);
            background-color:$bgColor;
            margin-bottom:5px;
        }
        input[type=submit]{
            color:$textColor;
            padding:3px;
            font-size: 1.11em;
            border:1px dashed rgb(189, 112, 12);
            background-color:$bgColor;
            margin-bottom:5px;
        }
    }
    footer{
        color: $textColor;
        text-align: center;
        margin: 80px auto 20px;
        padding:5px;
        border:1px dashed rgb(189, 112, 12);
    }
    div.blogs.content{
        width: 90%;
        margin:auto;
        border-radius:8px;
        display:inline-block;
    }
    div.blog.entry{
        display: block;
        width: 90%;
        margin:auto;
        
        h2{
            color:$blogTitleColor;
            font-size: 1.65em;
            font-family: 'Big Shoulders Stencil Display', cursive;
        }
        p{
            color: $textColor;
            margin-bottom: 20px;
            font-size: 1.20em;
        }
        a{
            color: $urlColor;
            text-decoration: none;
        }
    }
}