$bgColor: black;
$textColor: white;
$urlColor: blue;
$blogTitleColor: blue;

body{
    width: 90%;
    margin: auto;
    background-color:$bgColor;

    nav{
        display:flex;
        justify-content: space-between;

        .video{
            right: 0;
            min-width: 100%;
            width: 100%;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            margin-bottom: 8px;
        }
        .site-title{
            width: 100%;
            padding: 10px;
            position: fixed;
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
        }
        ul{
            display:flex;
        }
        li{
            list-style-type: none;
            margin-left: 15px;
        }
        h1{
            font-size: 2.5em;
        }
        p{
            color: $textColor;
            margin-top: 0px;
        }
        a{
            color: $urlColor;
            font-weight: 222;
        }
    }
    footer{
        color: $textColor;
        text-align: center;
        margin: 80px auto 20px;
    }
    div.blogs.content{
        width: 90%;
        margin:auto;
        border-radius:8px;
        display:inline-block;
    }
    div.blog.entry{
        display: block;
        width: 90%;
        margin:auto;
        
        h2{
            font-size: 1.65em;
        }
        p{
            color: $textColor;
            margin-bottom: 20px;
            font-size: 1.20em;
        }
        a{
            color: $urlColor;
            text-decoration: none;
        }
    }
    
}