body{
    width: 90%;
    margin: auto;

    nav{
        display:flex;
        justify-content: space-between;

        ul{
            display:flex;
            justify-content: space-between;
            align-items:flex-end;
        }
        li{
            list-style-type: none;
            margin-left: 15px;
        }
        h1{
            font-size: 2.5em;
        }
        p{
            color: #0f0f0f;
        }
        a{
            color: royalblue;
            font-weight: 222;
        }
    }
    footer{
        color: #0f0f0f;
        text-align: center;
        margin: 80px auto 20px;
    }
    .blogs.content{
        width: 90%;
        margin:auto;
        border:2px solid rosybrown;
        border-radius:8px;
        display:inline-block;
    }
    .blog.entry{
        h2{
            color:lightseagreen;
            display: block;
        }
        p{
            color: #0f0f0f;
            margin-bottom: 20px;
            display: block;
        }
    }
    
}