body{
    width: 90%;
    margin: auto;

    nav{
        display:flex;
        justify-content: space-between;

        .video{
            right: 0;
            min-width: 100%;
        }
        .site-title{
            width: 90%;
            margin:auto;
            padding: 10px;
            position: fixed;
            background: rgba(0, 0, 0, 0.5);
            border-radius:8px;
            color: #f1f1f1;
        }

        ul{
            display:flex;
            justify-content: space-between;
            align-items:flex-end;
        }
        li{
            list-style-type: none;
            margin-left: 15px;
        }
        h1{
            font-size: 2.5em;
        }
        p{
            color: #0f0f0f;
            margin-top: 0px;
        }
        a{
            color: royalblue;
            font-weight: 222;
        }
    }
    footer{
        color: #0f0f0f;
        text-align: center;
        margin: 80px auto 20px;
    }
    div.blogs.content{
        width: 90%;
        margin:auto;
        border:2px solid rosybrown;
        border-radius:8px;
        display:inline-block;
    }
    div.blog.entry{
        display: block;
        width: 90%;
        margin:auto;
        
        h2{
            font-size: 1.65em;
        }
        p{
            color: #0f0f0f;
            margin-bottom: 20px;
            font-size: 1.20em;
        }
        a{
            color:lightseagreen;
            text-decoration: none;
        }
    }
    
}